[genuitec-file-id="wc4-1"],[genuitec-lp-path="/HuaWeiE/WebRoot/css/enroll.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

@charset "UTF-8";
body, p, ul, li, h3, b, input, span, form {
  margin: 0;
  padding: 0;
  color: #333; }

h3, b {
  font-weight: normal; }

img {
  border: 0;
  display: block;
  vertical-align: top; }

a {
  text-decoration: none; }

i {
  font-style: italic; }

em {
  font-weight: normal;
  font-style: normal; }

div {
  display: block; }

.head {
  background-color: #333333;
  height: 67px; }

.head .head_center {
  width: 960px;
  height: 67px;
  margin: 0px auto;
  border: 0px;
  position: relative; }

.head_center .main_logo {
  width: 143px;
  left: 2px;
  float: left;
  margin-right: 20px; }

.head .head_center .main_logo img {
  margin-left: 4px;
  margin-top: 12px; }

.website-name {
  font-size: 20px;
  height: 67px;
  line-height: 50px;
  font-family: "arial";
  padding-top: 8px; }

.relative {
  position: relative; }

.wp1 {
  width: 100%;
  margin: 0px auto;
  background: #f2f2f2; }

.register-content {
  margin: 0 auto;
  width: 960px; }

.reg-tab {
  overflow: hidden; }

.reg-tab .phone-wrap, .mail-wrap {
  display: inline-block;
  position: relative;
  background: #ccc;
  margin-right: 12px;
  float: left;
  color: #b7b7b7;
  cursor: pointer; }

.reg-tab .sel {
  background: #B40707; }

.phone-icon {
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 26px;
  width: 14px;
  height: 22px;
  background: url(../img/enroll/reg-img01.png) no-repeat;
  background-position: 0 -18px; }

.tab-phone {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-left: 50px;
  margin-right: 30px;
  text-align: center; }

.mail-icon {
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 16px;
  width: 22px;
  height: 17px;
  background: url(../img/enroll/reg-img01.png) no-repeat;
  background-position: 0 0px; }

.tab-email {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-left: 50px;
  margin-right: 30px;
  text-align: center; }

.login {
  display: inline-block;
  float: right;
  font-size: 14px;
  line-height: 35px; }

.login a {
  color: #007dff; }

.reg-detail {
  padding: 30px 270px;
  font-size: 14px;
  color: #333;
  background: #fff; }

.input-container {
  margin-top: 10px;
  background: #f7f7f7;
  height: 42px;
  border: 1px solid #d9d9d9;
  border-radius: 21px;
  position: relative; }

.input-container .input-left {
  text-align: justify;
  text-align-last: justify;
  width: 90px;
  height: 100%;
  border-right: 1px solid #d9d9d9;
  padding: 0 16px;
  line-height: 42px;
  float: left; }
.input-container .input-left::after{
  content: '';
  width: 100%;
  display: inline-block;
}
.input-container .input-right {
  height: 100%;
  padding-right: 16px;
  line-height: 42px;
  float: right; }

.input-container .input-right input {
  outline: 0; }

.input-container .input-content {
  height: 100%;
  overflow: hidden; }

.input-content .node-input {
  width: 100%;
  height: 44px;
  cursor: pointer; }

.node-input .select-text {
  font-size: 15px;
  vertical-align: middle;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  padding: 0 16px;
  cursor: pointer; }

.node-input .select-ico {
  right: 16px;
  position: absolute;
  top: 17px;
  width: 12px;
  height: 6px;
  background-image: url(../img/enroll/triangle_gray.png); }

.input-error-EMUI5 {
  border: 1px solid rgba(255, 51, 32, 0.5) !important; }

.input-content input {
  height: 100%;
  width: 100%;
  border: 0px;
  padding: 0 16px;
  background: transparent;
  outline: 0;
  color: #4a4a4a; }

.text {
  line-height: 28px;
  font-size: 14px; }

.error-tips-EMUI5 {
  display: inline-block;
  margin-top: 4px;
  padding: 0 16px;
  font-size: 12px;
  color: #ff3320; }

#randomCodeDiv, #pwdDiv {
  margin-top: 45px; }

#randomCodeImg {
  cursor: pointer;
  z-index: 1;
  height: 40px;
  width: 117px;
  font-size: 35px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  border: 1px solid #ccc;
  font-family: Arial,宋体;
  font-style: italic;
  background: #C8E9D0;
  color: #553667; }

.input-msgcode {
  margin-top: 30px; }

.get-code {
  display: inline-block;
  margin-top: 11px;
  background: #f7f7f7;
  border: none;
  color: #007dff;
  cursor: pointer;
  font-size: 14px; }

#confirmpwdDiv {
  margin-top: 30px; }

.pwd-info {
  margin: 40px 0 30px 0;
  padding: 0 16px; }

.normal-tips {
  font-size: 14px;
  color: #333; }

#pwdComplexFlag {
  font-size: 12px; }

#line8-EMUI5 {
  margin: 5px 0;
  border-radius: 1.5px; }

.pwd-strong-div {
  width: 100%;
  height: 3px;
  background: #EEE; }

.pwd-stro {
  background: #41ce48; }

#pwd-tips {
  font-size: 13px;
  color: #666 !important; }

.birthday_line {
  background: #efefef;
  height: 1px;
  margin: 16px 0px; }

.agreement {
  padding: 0 16px; }

.dataCollect {
  line-height: 1.5;
  margin-bottom: 20px; }

.agrLineH {
  line-height: 150%; }

.agrLineH a {
  color: #007dff;
  cursor: pointer; }

.reg-btn {
  margin-top: 30px;
  text-align: center; }

.reg-btn .btn {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #B40707;
  border: none;
  -webkit-border-radius: 20px;
  color: #fff;
  cursor: pointer;
  outline: 0; }

.box-shadow {
  padding-top: 40px;
  border-bottom: 1px solid #d7d7d7;
  text-align: center;
  background: #f2f2f2; }

.wp1 {
  width: 100%;
  margin: 0px auto;
  background: #f2f2f2; }

.ft {
  text-align: center;
  font-size: 12px;
  color: #999; }

.ft .reg-content {
  margin: 30px auto;
  text-align: center;
  width: 960px; }

.ft .footer {
  line-height: 24px;
  margin: 0 auto;
  font-size: 10px;
  color: #999; }

.ft p a {
  font-size: 14px;
  color: #999; }

.rule {
  padding: 0 10px; }

.ft p em {
  color: #999; }

.dbtn {
  color: #D9D9D9; }
