<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">


 <display-name>HuaWeiE</display-name>
 <filter>
    <filter-name>f1</filter-name>
    <filter-class>com.fss.filter.CodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f1</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.fss.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.fss.BaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet1</servlet-name>
    <servlet-class>com.fss.servlet.RegistServlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.fss.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.fss.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.fss.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductXServlet</servlet-name>
    <servlet-class>com.fss.servlet.ProductXServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VersionServlet</servlet-name>
    <servlet-class>com.fss.servlet.VersionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>com.fss.servlet.CodeServlet</servlet-class>
  </servlet>



 




  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/servlet/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet1</servlet-name>
    <url-pattern>/servlet/RegistServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/servlet/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/servlet/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductXServlet</servlet-name>
    <url-pattern>/servlet/ProductXServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VersionServlet</servlet-name>
    <url-pattern>/servlet/VersionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/servlet/CodeServlet</url-pattern>
  </servlet-mapping>

</web-app>